.footer-wrapper{
    
        position: sticky;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
     
      
}

.footer-container{
  
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    background-color: white !important;
    height: 110px !important;
}
.first-row{
    width: "-webkit-fill-available";
    flex: auto;
    padding-left: 0px;
    padding-right: 292px;
}